.container-style {
  width: 50%;
  padding-top: 80px;
}

.first-background {
  background: hsl(31, 77%, 52%);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.second-background {
  background: hsl(184, 100%, 22%);
}
.third-background {
  background: hsl(179, 100%, 13%);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.images {
  display: flex;
}
.heading-style {
  color: hsl(0, 0%, 95%);
}
.paragraph-style {
  color: hsla(0, 0%, 100%, 0.75);
}
.link-style {
  background: hsla(0, 0%, 95%);
  border-radius: 5px;
  color: rgb(58, 58, 192);
  text-decoration: none;
  padding: 6px;
  margin-bottom: 15px;
}

.link-style:hover {
  color: #ffffff;
  border: 1px solid white;
  background: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
