@font-face {
  font-family: "Lexend Deca";
  src: url(https://fonts.google.com/specimen/Lexend+Deca);
}
@font-face {
  font-family: "Big Shoulders Display";
  src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
}
