@font-face {
  font-family: "Lexend Deca";
  src: url(https://fonts.google.com/specimen/Lexend+Deca);
}
@font-face {
  font-family: "Big Shoulders Display";
  src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
}

h1 {
  padding-left: 15px;
  margin-left: 20px;
  margin-top: 40px;
  text-align: left;
  color: hsla(0, 0%, 100%, 0.75);
}

p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 0 30px;
  line-height: 1.5;
  text-align: start;
}

.container {
  background-color: #ffffff;
}

.content {
  width: 60%;
  display: flex;
  margin: 50px auto;
}

.icon {
  display: block;
  padding: 30px 20px 0px;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
